@{
    ViewBag.Title = "About";
}
<div class="row text-center header">
    <h2 style="color:white;">ABOUT</h2>
</div>
<div class="text-center margin-bottom aboutimg">
    <img src="~/Content/Img/bg-header-about.jpg" style="max-width:100%">
</div>
<div class="container" style="padding: 40px 0 110px;">
    <div class="row">
        <div class="col-lg-3 text-center" style="background: #efedee; padding: 20px;">
            <h3 class="pinktext margin-bottom">
                BE PART OF OUR COMMUNITY
            </h3>
            <p class="abouttext">
                If you’re experiencing issues or having concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests.
            </p>
        </div>
        <div class="col-lg-9 about-content">
            <h3 class="pinktext">WE HAVE FREE TEMPLATES FOR EVERYONE</h3>
            <p>
                Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.

                You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.
            </p>
            <br>
            <p>
                You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.
            </p>
            <h3 class="pinktext">WE HAVE MORE TEMPLATES FOR YOU</h3>
            <p>
                Looking for more templates? Just browse through all our Free Website Templates. But if you can’t find any website templates you can use, try our Free Web Design service and tell us all about it. We love a good challenge!
            </p>
            <h3 class="pinktext">TEMPLATE DETAILS</h3>
            <p>
                Design Version 2.
                <br />
                Code Version 1.
                <br />
                Website Template details, discussion and updates for this Frozen Yogurt Shop Website Template.
                <br />
                <br />
                Website Template design by Free Website Templates.
            </p>
        </div>
    </div>
</div>