@{
    ViewBag.Title = "Contact";
}
<div class="row text-center header">
    <h2 style="color:white;">CONTACT</h2>
</div>
<div class="contact-header margin-bottom">
    <div class="container">
        <div class="row greydiv">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-2 text-center">
                <img src="~/Content/Img/check-in.png">
            </div>
            <div class="col-lg-8">
                <h3 class="pinktext">UNIT 0123 , ABC BUILDING, BUSSINESS PARK</h3>
                <p>If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
<div class="container margin-bottom">
    <div class="row" style="margin: 0 40px">
        <div class="col-lg-9">
            <h3 class="pinktext margin-bottom">INQUIRY FORM</h3>
            <form action="index.html">
                <input type="text" placeholder="Name" class="form-control" width="100%">
                <br>
                <input type="email" placeholder="Email" class="form-control">
                <br>
                <input type="text" placeholder="Subject" class="form-control">
                <br>
                <textarea placeholder="Share your thoughts" class="form-control margin-bottom"></textarea>
                <button class="btn">SEND</button>
            </form>
        </div>
        <div class="col-lg-3 text-center" style="background: #efedee;">
            <h3 class="pinktext" style="padding-top: 10px;">WE’D LOVE TO HEAR FROM YOU.</h3>
            <p class="contact-text">If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.</p>
        </div>
    </div>
</div>