body {
    padding-top: 70px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

li a {
    color: #7a6666;
}

    li a:hover {
        text-decoration: none;
        color: #c8c10d;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #cb3362;
}

    footer img {
        padding: 0px 25px 30px;
    }

    footer div {
        padding: 30px 0;
    }
/* Set width on the form input elements since they're 100% wide by default */


.header {
    background: #c8c10d;
    padding: 10px 0;
    color: white;
}

.aboutimg {
    background: #ebebed;
}

.abouttext {
    line-height: 48px;
    width: 169px;
    margin: 0 auto;
    font-weight: bold;
    color: #877575;
}

.pinktext {
    color: #cb3362 !important;
    font-weight: bold;
}


.about-content {
    padding-left: 30px;
    color: #877575;
}

.contact-header {
    background: #b5aaae;
    background-image: url('Img/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.contact-text {
    padding: 10px 20px 30px;
    font-weight: bold;
    color: #938383
}

.greydiv {
    background: rgba(247,245,245,0.8);
    margin: 40px;
    padding: 20px 0;
}

.smalltext {
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
}

.button {
    font-weight: bold;
    border: 2px solid #cbb5bc;
    color: #a5838e;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button:hover {
        background: #c8c10d;
        color: white;
        border: 2px solid #c8c10d;
        text-decoration: none !important;
    }

.blog-post {
    padding-bottom: 34px;
}

.side-text {
    background: #EFEDEE;
    padding-bottom: 71px;
}


a {
    color: #a5839c;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #a5839c;
        text-decoration: none;
    }

.highlights {
    color: white;
    background: #c8c10d;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
}
